/* app css stylesheet */
body {
  padding-top:70px;
}
.splash {
    padding: 9em 0 2em;
    background-color: #141d27;
    background-image: url(https://bootswatch.com/assets/img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    
}